$bodyBGcolor: hsl(225, 100%, 94%);
$item2BGcolor: hsla(225, 100%, 94%, 0.2);
$buttonBGcolor: hsl(245, 75%, 52%);

@mixin Flexfunc($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

}

//Removing default margins
h1,
h2,
p,
body,
button {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: $bodyBGcolor;
    font-size: 1rem;
    min-height: 100vh;
    gap: 1.5rem;
    box-sizing: border-box;
    //Flex Display
    @include Flexfunc(column);

    // Container properties
    .container {

        max-width: 325px;
        margin: 16px;

        .innercontainer {
            background-color: white;
            padding: 1.5rem;
            padding-top: 0;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

    //media query for bigger screen
    @media (min-width: 400px) {
        
    }
}

.illustration {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.item1 {
    @include Flexfunc(column);
    margin-bottom: 24px;
    margin-top: -5px;

    //Image
    img {
        width: 100%;
    }

    // Text propreties
    header {
        padding-top: 24px;
    }

    p {
        color: gray;
        text-align: center;
        line-height: 1.4;
        padding-top: 24px;
    }
}

.item2 {
    background-color: $item2BGcolor;
    @include Flexfunc(row);
    justify-content: space-around;
    padding: 5px;
    border-radius: 12px;

    //Text propreties
    p {
       color: gray;
    }

    //Button proprties
    button {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        font-size: 0.75rem;
        font-weight: 900;
        color: $buttonBGcolor
    }

    //Active State
    button:hover {
        cursor: pointer;
        background-color: $buttonBGcolor;
        color: white;
        border-radius: 10px;
    }
}

.item3 {
    @include Flexfunc(column);
    margin-top: 24px;

    //Links properties
    .link1 {
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        background-color: $buttonBGcolor;
        color: white;
        width: 95%;
        margin-bottom: 16px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 5px 5px 1px hsla(245, 75%, 52%, 0.4);
    }

    .link2 {
        text-decoration: none;
        font-weight: 900;
        font-size: 0.75rem;
        opacity: 0.5;
        color: black;
    }
}