$bodyBGcolor: hsl(225, 100%, 94%);
$item2BGcolor: hsla(225, 100%, 94%, 0.477);

@mixin Flexfunc($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

}

//Removing default margins
h1,
h2,
p,
body,
button,
img {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: $bodyBGcolor;
    font-size: 1rem;
    min-height: 100vh;
    gap: 1.5rem;

    //Flex Display
    @include Flexfunc(column);

    // Container properties
    .container {

        max-width: 325px;
        margin: 16px;

        .innercontainer {
            background-color: white;
            padding: 1.5rem;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

}

.illustration {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.item1 {
    @include Flexfunc(column);
    margin-bottom: 24px;

    //Image
    img {
        width: 100%;
    }

    // Texts
    p {
        color: gray;
        text-align: center;
        margin-top: 16px;
    }
}

.item2 {
    background-color: $item2BGcolor;
    @include Flexfunc(row);
    justify-content: space-around;
    padding: 5px;
    border-radius: 12px;

    //Button proprties
    button {
        border: none;
        text-decoration: underline;
        font-weight: 700;
        color: hsl(245, 75%, 52%);
    }
}

.item3 {
    @include Flexfunc(column);
    margin-top: 24px;

    //Links properties
    .link1 {
        text-decoration: none;
        background-color: hsl(245, 75%, 52%);
        color: white;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    .link2 {
        text-decoration: none;

    }
}